<h1>{{ name }}</h1>
<p>

  <button (click)='infoMessage()'>Info</button>
  <button (click)='successMessage()'>Success</button>
  <button (click)='cautionMessage()'>Caution</button>
  <button (click)='dangerMessage()'>Danger</button>
  <button (click)='randomMessage()'>Random</button><br/>
  Sample App Notifications<br/>
</p>
<h2>Reference</h2>
  <a href ="https://angularfirebase.com/lessons/angular-toast-message-notifications-from-scratch/">https://angularfirebase.com/lessons/angular-toast-message-notifications-from-scratch/</a> <br/>
   <a href ="https://codepen.io/veronicadev/pen/LrZaov">https://codepen.io/veronicadev/pen/LrZaov</a><br/>


   <a href='https://foxandxss.github.io/angular-toastr/'>https://foxandxss.github.io/angular-toastr/</a><br/>
   <a href='https://codepen.io/damianmuti/pen/GEZoeG'>https://codepen.io/damianmuti/pen/GEZoeG</a><br/>

<toast-messages></toast-messages>