<div class="toast_container">
  <div class="toast" *ngFor="let message of (messages | async); let i = index" 
    [ngClass]="{'toast-blue':   message.style=='info',
                'toast-yellow': message.style=='warning',
                'toast-red':    message.style=='error',
                'toast-green':  message.style=='success'}">
    
    <div  class="toast_icon" [innerHtml]='_SVGProvider.getIcon(message.style) | sanitizeHtml'></div>
 
    <div class="toast_content">
      <p class="toast_title">{{message.style | titlecase }}</p>
      <p class="toast_message">{{message.content}}</p>
    </div> 

    <div class="toast_close" [innerHtml]='_SVGProvider.close | sanitizeHtml' (click)="dismiss(i)"></div> 

    <div class='toaster_progress' [ngStyle]="{'width':(message.counter/message.delay) * 100 + '%'}" 
      [ngClass]="{'toast-blue':   message.style=='info',
                  'toast-yellow': message.style=='warning',
                  'toast-red':    message.style=='error',
                  'toast-green':  message.style=='success'}">
    </div> 
  </div>   
</div>    
