/* Add application styles & imports to this file! */

html, body{
/*   font-family: 'Raleway', sans-serif; */
  line-height: 1.15;
  background-color:#efefef;
  width:100%;
  height:100%;
}




.toast_container{
  
  position:fixed;
  z-index:25;
  right:5px;
  bottom:5px;
  // border:1px solid red;
  width:450px;
}


.toast{
    position:relative;
    text-align:left;
    padding-top: 21px;
    padding-left:0;
    padding-right:0;
    background-color:#fff;
    border-radius:4px;
    max-width: 500px;;
    box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.2);
    margin-top:10px;
    margin-right:5px;
}

.toast_content{
  padding-left:70px;
  padding-right:50px;
}

.toast_title {
  color: #3e3e3e;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 8px;
}

.toast_message {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    color: #878787;
}

.toast_svg{
  fill:#fff;
}


.toast_icon{
  position:absolute;
  top:50%;
  left:22px;
  transform:translateY(-50%);
  width:14px;
  height:14px;
  padding: 7px;
  border-radius:50%;
/*   display:inline-block; */
}

.toast_close {
    position: absolute;
    right: 22px;
    top: 50%;
    width: 14px;
    cursor:pointer;
    height: 14px;
   fill:#878787;
    transform: translateY(-50%);
}


.toast-green .toast_icon{
  background-color:#2BDE3F;
}

.toast-green{
  border-left: 4px solid #2BDE3F;
}

.toast-blue .toast_icon{
  background-color:#1D72F3;
}

.toast-blue{
/*   background-color:#1D72F3; */
   border-left: 4px solid #1D72F3;
}

.toast-yellow .toast_icon{
  background-color:#FFC007;
}

.toast-yellow{
  border-left: 4px solid #FFC007;
}


.toast-red .toast_icon{
  background-color:red;
}

.toast-red{
  border-left: 4px solid red;
}


.toaster_progress{
  margin-top:18px;
  display:absolute;
  bottom:0;
  height:3px;
  /* width:50%; */
  width:0%;
}


.toast-green .toaster_progress{
  background-color:#2BDE3F;
}



.toast-blue .toaster_progress{
  background-color:#1D72F3;
}
.toast-yellow .toaster_progress{
   background-color:#FFC007;
}

.toast-red .toaster_progress{
  background-color:red;
}
